.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_2 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
._图片 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
._一级标题 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
}
._二级标题 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
._三级标题 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
}
._四级标题 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
._五级标题 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._六级标题 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
}
.label {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
._文本段落 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
._连接线 {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
.text_field {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.icon {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
._形状 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
._默认样式 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
.primary_button {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.box_3 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.ellipse {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
._文本段落1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.button {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.checkbox {
  text-align:left;
}
textarea, select, input, button { outline: none; }
